.contact {
    gap: 20px;
    display: flex;
}

.form {
    background-color: rgb(39, 39, 39);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: 1px solid rgb(59, 59, 59);
}

.form h3 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.inputs {
    display: flex;
    gap: 20px;
}

.form input,
.form textarea {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(88, 88, 88);
    outline: none;
    border: none;
    padding: 15px;
    padding-bottom: 15px;
    color: white;
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 0% 100%;
    transition-property: background-size;
    transition-duration: 0.5s;
}

.form input {
    background-image: linear-gradient(
        transparent 0%,
        transparent 95%,
        #00a1fb 95%,
        #00a1fb 100%
    );
}

.form textarea {
    background-image: linear-gradient(
        transparent 0%,
        transparent 99%,
        #00a1fb 99%,
        #00a1fb 100%
    );
}

.form input:focus,
.form textarea:focus {
    background-size: 100% 100%;
}

.form input:last-of-type {
    margin-right: 0;
}

.form textarea {
    resize: none;
}

.form button {
    background-color: #00a1fb;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0;
    width: 200px;
    margin-top: 10px;
}

.form button:hover {
    background-color: #0090e4;
}

.form button:disabled {
    background-color: #00639c;
}

.extras {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.extras a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    height: 100%;
    min-width: 200px;
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(59, 59, 59);
    transition-property: background-color;
    transition-duration: 0.5s;
}

.extras a:hover {
    background-color: #00a1fb;
}

.icon {
    height: 40px;
}

.extra a p {
    font-size: 20px;
}

.msg {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.msg__success {
    background-color: #00a1fb;
}

.msg__danger {
    background-color: #ff6f3e;
}

@media (max-width: 1200px) {
    #contact {
        margin-bottom: 68px;
    }
    .contact-content {
        flex-direction: column;
        padding: 0;
        gap: 15px;
    }
    .extras {
        flex-direction: row;
        gap: 15px;
    }
    .extra a {
        min-width: 0px;
        width: 100%;
    }
    .icon {
        height: 30px;
    }
    .extra a p {
        font-size: 15px;
    }
    .contact-form {
        width: 100%;
        padding: 20px;
        gap: 15px;
    }
    .contact-form__inputs {
        flex-direction: column;
        gap: 15px;
    }
}
