.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: center; */
}

.stack li {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--gray-2);
    padding: 15px 0px;
    border-radius: 5px;
    /* flex: 1 1 auto; */
}

.stack img {
    height: auto;
    width: 35px;
}

.experience {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
}

.experience:last-of-type {
    margin-bottom: 0;
}

.experienceDescription {
    padding: 10px 0;
    padding-left: 15px;
    border-left: 3px solid var(--blue-1);
}

.experienceExtra {
    font-size: .8rem;
    color: rgb(177, 177, 177);
}

.certificates {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.certificate {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-2);
    border-radius: 5px;
    /* border-left: 3px solid var(--blue-1); */
}

.certificate svg {
    max-width: 25px;
    height: auto;
    fill: var(--light-1);
    transition-property: fill;
    transition-duration: .2s;
}

.certificate svg:hover {
    fill: var(--blue-1);
}

.certificate a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate p {
    display: flex;
    align-items: center;
    height: min-content;
}

.presentation {
    background-color: var(--gray-2);
    padding: 30px 20px;
    border-radius: 5px;
    position: relative;
}

/* .presentation::after {
    content: "";
    background-color: var(--blue-1);
    width: 5px;
    height: 90%;
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 50px;
} */

@media (width < 1010px) {
    .stack {
    }
}

@media (width < 768px) {
    .stack {

    }

    .certificates {
        display: flex;
        flex-direction: column;
    }
}

@media (width < 576px) {

}