.mainContent {
    margin: 0 auto;
    width: 90%;
    max-width: var(--max-width);
    padding-top: 90px;
    padding-bottom: 20px;
    min-height: 100vh;
    position: relative;
}

@media (width < 576px) {
    .mainContent {
        padding-top: 30px;
        padding-bottom: 80px;
    }
}