.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    background-color: #181818dd;
    background-color: var(--gray-1);
    border-bottom: 1px solid var(--gray-2);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 25px;
    width: auto;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    height: 50px;
    width: 90%;
}

.items {
    display: flex;
    width: 90%;
    max-width: 1200px;
    justify-content: flex-end;
    height: 100%;
    gap: 10px;
}

.item {
    font-weight: 400;
    max-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 6px 0px;
}

.item a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 5px;
    width: min-content;
    min-width: 150px;
    cursor: pointer;
}

.item svg {
    max-width: 20px;
    transition-property: fill;
    transition-duration: 0.5s;
}

.item a:hover {
    background-color: var(--gray-2);
}

.activeNav a {
    color: var(--blue-1);
    background-color: var(--gray-2);
}

.activeNav svg {
    fill: var(--blue-1);
}

.item a p {
    font-weight: 600;
    font-size: 0.9rem;
    white-space: nowrap;
}

@media (width < 768px) {
    .logo {
        display: none;
    }

    .navContent {
        height: 60px;
    }

    .items {
        justify-content: center;
        gap: 5px;
        width: 100%;
    }

    .item a {
        min-width: 80px;
        padding: 0px 20px;
        width: 100%;
    }

    .item svg {
        width: 15px;
    }

    .item a p {
        font-size: 0.8rem;
    }
}

@media (width < 576px) {
    .navContent {
        height: 70px;
    }

    .navbar {
        bottom: 0;
        top: initial;
    }

    .item a svg {
        height: min-content;
    }

    .item a {
        flex-direction: column;
        gap: 4px;
    }
}