.about-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 5px;
}

.about-content__info {
    flex-basis: 60%;
    background-color: rgb(39, 39, 39);
    padding: 30px;
}

.about-content__technologies {
    /* font-size: 22px; */
}

.technologies-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 30px;
}

.technologies-list__item {
    list-style: none;
    position: relative;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    transition-property: background-color;
    transition-duration: .5s;
}

.technologies-list__item:hover {
    background-color: #00a1fb;
}

.technologies-list__img {
    height: 50px;
    filter: drop-shadow(0px 0px 1px rgb(126, 126, 126));
}

@media (max-width: 600px) {
    .technologies-list__img {
        height: 30px;
    }
}

@media (max-width: 768px) {
    #about {
        padding-bottom: 80px;
    }
}

@media (max-width: 1200px) {
    .about-content {
        padding: 0px;
    }
    .technologies-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .technologies-list__item {
        gap: 10px;
    }
}