.content {
    width: 90%;
    margin: 0 auto;
    padding-left: 200px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .content {
        padding-bottom: 95px;
        padding-left: 0;
    }
}
