.navbar {
    /* background-color: rgb(34, 34, 34); */
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(59, 59, 59);
    z-index: 10000;
}

.logo {
    /* background-color: rgb(31, 31, 31); */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(59, 59, 59);
    padding: 30px 0;
}

.logo p {
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 10px solid white;
    border-radius: 100%;
    width: 95px;
    height: 95px;
    /* text-shadow: -6px 0px #00a1fb; */
}

.items {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
}

.item {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
    height: 100%;
    transition-property: background-size;
    transition-duration: 0.3s;

    background-image: linear-gradient(
        #00a1fb 0%,
        #00a1fb 50%,
        #00a1fb 50%,
        #00a1fb 100%
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
}

.item img {
    filter: invert(1);
}

.item p {
    margin: 0;
}

.item:hover {
    background-color: rgb(43, 43, 43);
}

.nav_active {
    background-size: 100% 100% !important;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .navbar {
        width: 100%;
        height: 60px;
        top: initial;
        bottom: 0;
        flex-direction: row;
        border-right: none;
        border-top: 1px solid rgb(59, 59, 59);
    }
    .items {
        padding: 0;
        gap: 0;
        width: 100%;
        flex-direction: row;
    }
    .item {
        width: 100%;
        border: none;
        font-size: 12px;
        justify-content: space-between;
        gap: 2px;
        padding: 10px;
        background-size: 100% 0%;
    }
    .item:hover {
        background-color: initial;
    }
}
